.card__description {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}